-- MySQL dump 10.13  Distrib 5.5.62, for Win64 (AMD64)
--
-- Host: localhost    Database: fstpdb
-- ------------------------------------------------------
-- Server version	5.5.62

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `m_beneficiary`
--

DROP TABLE IF EXISTS `m_beneficiary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `m_beneficiary` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `update_date` datetime NOT NULL,
  `updated_by` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_beneficiary`
--

LOCK TABLES `m_beneficiary` WRITE;
/*!40000 ALTER TABLE `m_beneficiary` DISABLE KEYS */;
INSERT INTO `m_beneficiary` VALUES (1,'Arghya Ghosh','arghya.ghosh@cdac.in','698ee757148d901016c3df7880180feb','2024-09-24 13:03:24',1),(7,'Niladri Sekhar Saha','niladri.saha@live.com','47dbca4c85d01f000ac9e6857fc0b39f','2024-10-16 18:47:44',1),(8,'Nilankan Saha','niladri.nilankan@gmail.com','698ee757148d901016c3df7880180feb','2024-10-16 19:00:24',1);
/*!40000 ALTER TABLE `m_beneficiary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `m_book_list`
--

DROP TABLE IF EXISTS `m_book_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `m_book_list` (
  `book_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `beneficiary_id` int(10) unsigned NOT NULL,
  `title` text NOT NULL,
  `author` text NOT NULL,
  `book_condition` text NOT NULL,
  `genre` text NOT NULL,
  `availability_status` varchar(45) NOT NULL DEFAULT 'Available' COMMENT 'Available, Not-available',
  `activation_status` varchar(45) NOT NULL COMMENT 'Active, Deleted',
  `update_date` datetime NOT NULL,
  `location` text NOT NULL,
  PRIMARY KEY (`book_id`,`beneficiary_id`),
  KEY `FK_m_book_list_1` (`beneficiary_id`),
  CONSTRAINT `FK_m_book_list_1` FOREIGN KEY (`beneficiary_id`) REFERENCES `m_beneficiary` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_book_list`
--

LOCK TABLES `m_book_list` WRITE;
/*!40000 ALTER TABLE `m_book_list` DISABLE KEYS */;
/*!40000 ALTER TABLE `m_book_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_exchange_request`
--

DROP TABLE IF EXISTS `t_exchange_request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `t_exchange_request` (
  `transaction_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `sender_id` int(10) unsigned NOT NULL,
  `receiver_id` int(10) unsigned NOT NULL,
  `book_id` int(10) unsigned NOT NULL,
  `delivery_method` text NOT NULL,
  `exchange_duration` text NOT NULL,
  `transaction_date` datetime NOT NULL,
  `transaction_status` varchar(45) NOT NULL,
  PRIMARY KEY (`transaction_id`),
  UNIQUE KEY `Index_2` (`sender_id`,`receiver_id`,`book_id`),
  KEY `FK_t_exchange_request_2` (`receiver_id`),
  KEY `FK_t_exchange_request_3` (`book_id`),
  CONSTRAINT `FK_t_exchange_request_1` FOREIGN KEY (`sender_id`) REFERENCES `m_beneficiary` (`id`),
  CONSTRAINT `FK_t_exchange_request_2` FOREIGN KEY (`receiver_id`) REFERENCES `m_beneficiary` (`id`),
  CONSTRAINT `FK_t_exchange_request_3` FOREIGN KEY (`book_id`) REFERENCES `m_book_list` (`book_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_exchange_request`
--

LOCK TABLES `t_exchange_request` WRITE;
/*!40000 ALTER TABLE `t_exchange_request` DISABLE KEYS */;
INSERT INTO `t_exchange_request` VALUES (1,7,1,10,'By Post','2 Days','2024-10-22 18:31:25','Pending'),(3,7,1,1,'1','s','2024-10-22 19:10:47','Pending'),(5,7,1,2,'By Post','5 Days','2024-10-22 19:50:51','Pending'),(7,7,8,31,'By Post to Baguiati Address','10 Days','2024-10-23 12:14:01','Modified');
/*!40000 ALTER TABLE `t_exchange_request` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-10-28  9:53:01
